body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-content: center;
    text-align: center;
  }
  
  body.light-mode {
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.1s;
  }
  
  body.dark-mode {
    background-color: #333;
    color: #f0f0f0;
  }
  
  #container {
    background-color: #ddd;
    padding: 20px;
    width: fit-content;
    margin: 50%px;
  }
  
  
  
  h1 {
    margin: 0;
    font-size: 36px;
  }
  
  label {
    display: inline-block;
    margin-right: 10px;
  }
  
  input[type="checkbox"] {
    appearance: none;
    border-radius: 20px;
    width: 40px;
    height: 20px;
    outline: none;
    background-color: #ccc;
    transition: background-color 0.2s;
  }
  
  input[type="checkbox"]:checked {
    background-color: #2b6daa;
  }
  
  input[type="checkbox"]::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    margin: 2px;
    transform: translateX(0);
    transition: transform 0.2s;
  }
  
  input[type="checkbox"]:checked::before {
    transform: translateX(20px);
    transition: background-color ;
    transition: transform 0.2s;
  }
  
  input[type="checkbox"]:hover{
    cursor: pointer;
  }